{% extends "html.html.twig" %}

{% block head_title %}
Authorization Endpoint
{% endblock %}

{% block page_top %}
<h1 class="page-header">Authorization Endpoint <small>(response_type = token)</small></h1>
{% endblock %}

{% block main %}
<h2 class="page-header">Access Token Response</h2>
{{ dump(access_token_response) }}
{% endblock %}

{% block aside %}
<h2 class="page-header">Actions</h2>
<p><a class="btn btn-primary" role="button" href="{{ resource_path }}">Accessing Protected Resources</a></p>
{% endblock %}
