{% extends "html.html.twig" %}

{% block page %}
<div class="container">
    <p>Access Token Response:</p>
    {{ dump(access_token_response) }}
    <p><a class="btn btn-primary" role="button" href="{{ resource_path }}">Accessing Protected Resources</a></p>
    <p><a class="btn btn-primary" role="button" href="{{ path('index') }}">Return</a></p>
</div>
{% endblock %}
