{% extends "html.html.twig" %}

{% set head_title = 'Authorization Endpoint | AuthBucket\\OAuth2' %}

{% block page %}
    {% embed 'page.html.twig' %}

    {% block main %}
        <h2 class="page-header">Authorization Endpoint <small>(response_type = token)</small></h2>
        <h3>Access Token Response</h3>
        {{ dump(access_token_response) }}
    {% endblock %}

    {% block aside %}
        <h2 class="page-header">Actions</h2>
        <p><a class="btn btn-primary" role="button" href="{{ resource_path }}">Accessing Protected Resources</a></p>
        <p><a class="btn btn-primary" role="button" href="{{ path('index') }}">Return</a></p>
    {% endblock %}

    {% endembed %}
{% endblock %}
