<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="pantarei/oauth2">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>./Tests</directory>
      <exclude>
        <directory>./Tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
