<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p><a class="btn btn-primary btn-lg" role="button" href="/oauth2/authorize/form">Login</a></p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/oauth2/authorize/form/logout">Logout</a></p>
    </div>
</div>
