<div class="container">
    <form action="{{ path('oauth2_authorize_form_login_check') }}" method="post" role="form">
        {{ error }}
        <input class="form-control" type="text" name="_username" value="{{ last_username }}" />
        <input class="form-control" type="password" name="_password" value="" />
        <button class="btn btn-primary" type="submit" name="submit">Login</button>
    </form>
    <p><a href="{{ path('index') }}">Return</a></p>
</div>
