{% extends "html.html.twig" %}

{% block page %}
<div class="container">
    <p>Debug Response:</p>
    <pre>{{ dump(debug) }}</pre>
    <p><a href="{{ path('index') }}">Return</a></p>
</div>
{% endblock %}
