{% extends "html.html.twig" %}

{% set head_title = 'Resource Endpoint | AuthBucket\\OAuth2' %}

{% block page %}
    {% embed 'page.html.twig' %}

    {% block main %}
        <h2 class="page-header">Resource Endpoint</h2>
        <h3>Debug Response</h3>
        {{ dump(debug_response) }}
        <h3>Debug Request</h3>
        {{ dump(debug_request) }}
    {% endblock %}

    {% endembed %}
{% endblock %}
