{% extends "html.html.twig" %}

{% block head_title %}
Resource Endpoint
{% endblock %}

{% block page_top %}
<h1 class="page-header">Resource Endpoint</h1>
{% endblock %}

{% block main %}
<h2 class="page-header">Debug Response</h2>
{{ dump(debug_response) }}
<h2 class="page-header">Debug Request</h2>
{{ dump(debug_request) }}
{% endblock %}
