{% extends "html.html.twig" %}

{% set head_title = 'Client | AuthBucket\\OAuth2' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Client</h1>
            </div>
        </div>
    </div>
{% endblock %}
