{% extends "html.html.twig" %}

{% block head_title %}
Token Endpoint
{% endblock %}

{% block page_top %}
<h1 class="page-header">Token Endpoint <small>(grant_type = client_credentials)</small></h1>
{% endblock %}

{% block main %}
<h2 class="page-header">Access Token Response:</h2>
{{ dump(access_token_response) }}
<h2 class="page-header">Access Token Request:</h2>
{{ dump(access_token_request) }}
{% endblock %}

{% block aside %}
<h2 class="page-header">Actions</h2>
<p><a class="btn btn-primary" role="button" href="{{ resource_path }}">Accessing Protected Resources</a></p>
<p><a class="btn btn-primary" role="button" href="{{ refresh_path }}">Refreshing an Access Token</a></p>
{% endblock %}
