{% extends "html.html.twig" %}

{% set head_title = 'Token Endpoint | AuthBucket\\OAuth2' %}

{% block page %}
    {% embed 'page.html.twig' %}

    {% block page_top %}
    {% endblock %}

    {% block main %}
        <h2 class="page-header">Token Endpoint <small>(grant_type = client_credentials)</small></h2>
        <h3>Access Token Response:</h3>
        {{ dump(access_token_response) }}
        <h3>Access Token Request:</h3>
        {{ dump(access_token_request) }}
    {% endblock %}

    {% block aside %}
        <h2 class="page-header">Actions</h2>
        <p><a class="btn btn-primary" role="button" href="{{ resource_path }}">Accessing Protected Resources</a></p>
        <p><a class="btn btn-primary" role="button" href="{{ refresh_path }}">Refreshing an Access Token</a></p>
    {% endblock %}

    {% endembed %}
{% endblock %}
